/domibusConnectorClient/domibusConnector35ClientLibrary/target/
#
#
#
#ignore idea
*.iml
.idea/
 Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/


#ignore netbeans
#
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

#maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


#eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet


/domibusConnectorClient/domibusConnectorClientWsLink/src/main/resources/wsdl/eu.domibus.connector.domain.transition/DomibusConnectorTransitionModel.xsd
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/resources/wsdl/
/domibusConnectorClient/domibusConnectorClientWsLink/nbproject/
/domibusConnectorClient/domibusConnectorNationalBackend35Client/nbproject/
/domibusConnectorClient/domibusConnectorClientRunnable/nbproject/
/domibusConnectorClient/domibusConnectorClient35Library/nbproject/
/domibusConnectorClient/domibusConnectorClientApi/src/main/java/eu/domibus/connector/domain/transition/
/domibusConnectorClient/domibusConnectorClientApi/src/main/resources/eu.domibus.connector.domain.transition/
/domibusConnectorClient/domibusConnectorClientApi/src/main/java/META-INF/sun-jaxb.episode
/domibusConnectorClient/domibusConnectorClientApi/nbproject/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/resources/eu/domibus/connector/domain/transition/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/resources/eu/domibus/connector/ws/backend/delivery/webservice/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/resources/eu/domibus/connector/ws/backend/webservice/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/java/eu/domibus/connector/domain/transition/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/java/eu/domibus/connector/ws/backend/delivery/webservice/
/domibusConnectorClient/domibusConnectorClientWsLink/src/main/java/eu/domibus/connector/ws/backend/webservice/
.classpath
.project
/domibusConnectorClient/domibusConnectorClientScheduler/*.classpath
/domibusConnectorClient/domibusConnectorClientApplication/domibusConnectorClientStarter/messages
/domibusConnectorClient/domibusConnectorClientApplication/domibusConnectorClientStarter/database
/domibusConnectorClient/domibusConnectorClientLibraries/domibusConnectorClientScheduler/.project
/domibusConnectorClient/domibusConnectorClientApplication/domibusConnectorClientUI/*.log

.node_modules/
/domibusConnectorClient/domibusConnectorClientApplication/domibusConnectorClientStarter/node_modules/*
/domibusConnectorClient/domibusConnectorClientApplication/domibusConnectorClientWAR/node_modules/*
*/package-lock.json
*.json
*.js
types.d.ts
